<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Proyecto VME BC</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

    <body>
    <header>
        <nav class="navbar navbar-inverse">
        <a href="/" class="navbar-brand">VME</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">Graficas</a></li>
            <li><a href="/contact">Informacion</a></li>
        </ul>
        </nav>
    </header>

        <!-- MAIN CONTENT HERE -->
        <%- defineContent('heros') %>
        <main>
            <div class="container"><%- body %></div>
        </main>
        <footer>Instituto Tecnologico de Tijuana. Copyright &copy; 2021</footer>
    </body>
</html>