<%- contentFor ('heros') %>

<section class="hero">
    <div class="hero-content">
      <h2 style="color: black;">Bienvendido al sitio</h2>
      <p style="color: black;">Estadisticas y Mas</p>
  
      <a href="/RFC" class="btn btn-lg btn-primary">RFC</a>
      <a href="/contact" class="btn btn-lg btn-primary">Contacto</a>
    </div>
  </section>

  <%- contentFor('body') %>
  <div class="jumbotron text-center">
    Pagina de inicio
  </div>
  
<%- extra %>