<%- contentFor('heros') %>
<section class="hero">
  <div class="hero-content">

  </div>
</section>

<div class="jumbotron text-center">
  

  <h2>Grafica</h2>
  
  <div class="chart_box">
    <canvas id="myChart"></canvas>
  </div>

  <script src="/app/chart.js"></script>
  
  <h2>Tablas</h2>



</div>