<%- contentFor('heros') %>
<section class="hero">
  <div class="hero-content">

  </div>
</section>


<div class="jumbotron text-center">

  <h2>Grafica</h2>
  <p><img src="../img/indice_BC.png" alt="Logotipo de cdlibre.org" width="1200" height="800"></p>
  <h2>Tablas</h2>



</div>