<div class="jumbotron text-center">
    <h1>Pagina de Referencias</h1>
  
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2>Fuentes</h2>

        <p>Principales Participantes</p>
  
  
        </form>
      </div>
    </div>
  </div>