<%- contentFor ('heros') %>

<section class="hero">
    <div class="hero-content">
      <h2>Bienvenido al Visualizador de Modelos Econométricos</h2>
      <p>Esta página tiene como objetivo la investigación sobre el análisis 
        del crecimiento económico en Baja California usando técnicas de aprendizaje 
        máquina para el minado de datos</p>
  
      <a href="/about" class="btn btn-primary btn-lg">Graficas de Datos</a>
      <a href="/contact" class="btn btn-primary btn-lg">Informacion</a>
    </div>
  </section>