<%- contentFor('heros') %>
 
<section class="hero">
  <div class="hero-content">
    <h2></h2>
    <p><THANK-YOU>GRACIAS X VISITARNOS</THANK-YOU></p>
    <a href='' class="btn btn-lg btn-primary">Inicio</a>
  </div>
</section>
 
<%- contentFor('body') %>
<div class="jumbotron text-center">
    <!-- Aquí se mandan las variables y se muestran en pantalla-->
    <%- personal.mess1 %> <%- personal.mess2 %>
</div>